@inherits LayoutComponentBase

<PageTitle>www.backupserver.com</PageTitle>

<div class="page">
    <main>
        <div class="px-4">
            <Header />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
